URxvt*scrollBar: false
URxvt*urlLauncher: /bin/firefox
!
!fc-list :: this command will list all available fonts
URxvt*font: xft:Inconsolata:size=11
URxvt*boldFont: xft:Inconsolata-Bold:size=11

!spacing between letters relative to default machine spacing
URxvt*letterSpace: -1

! Number of pixels between lines for added readability
URxvt*lineSpace: 3

URxvt*depth: 32
URxvt*background: rgba:0000/0000/0200/c800
URxvt*transparent: true

! Darken Background transparency
URxvt*shading: 30

! Blink window on bell
Urxvt*visualBell: true

!enable dynamic font updating <C-[Up|Down]>
URxvt.perl-ext-common:  ...,font-size
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
